name: Rust

on:
  push:
  pull_request:
  schedule:
  - cron: '37 13 * * 5'

env:
  CARGO_TERM_COLOR: always

jobs:
  build-nightly:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use nightly Rust
      run: rustup default nightly
    - name: Install Clippy
      run: rustup component add clippy
    - name: Install Rustfmt
      run: rustup component add rustfmt
    - name: Test
      run: cargo test --verbose
    - name: Clippy
      run: cargo clippy --verbose
    - name: Fmt
      run: cargo fmt --check
  build-stable:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use stable Rust
      run: rustup default stable
    - name: Install Clippy
      run: rustup component add clippy
    - name: Install Rustfmt
      run: rustup component add rustfmt
    - name: Test
      run: cargo test --verbose
    - name: Clippy
      run: cargo clippy --verbose
    - name: Fmt
      run: cargo fmt --check
